graft docs
graft src
graft ci
graft tests

include tbump.toml
include .cookiecutterrc
include .coveragerc
include .editorconfig
include tox.ini
include .travis.yml
include .appveyor.yml
include .readthedocs.yml
include .pre-commit-config.yaml
include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst


global-exclude *.py[cod] __pycache__/* *.so *.dylib
